<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('header'); -%>
</head>

<body id="page-top">

  <%- include('bodycreate'); -%>
  <!-- End of Topbar -->

  <!-- Begin Page Content -->
  <!-- Begin Page Content -->
  <div class="container-fluid">

    <div class="container">
      <div class="form-group">
        <div class="row">
          <div class="col">
            <select class="form-control form-control-xs selectpicker" name="" data-live-search="true"
              data-title="Language" id="client_list" data-width="100%">
              <option value="" selected>Client Select ...</option>
              <%  if(locals.clientname && typeof clientname != 'undefined') { %>
              <% for (var x = 0; x < clientname.length; x++) { %>
              <option value="<%= clientname[x]['_id'] %>"><%= clientname[x]['fullname'] %></option>
              <% } %>
              <%}%>
            </select>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col">
            <select class="form-control form-control-xs selectpicker" name="" data-size="3" data-live-search="true"
              data-title="Language" id="lan_list" data-width="100%">
              <option value="" selected>Language Select ...</option>
              <option value="English">English</option>
              <option value="Français">Français</option>
              <option value="Español">Español</option>
              <option value="Arabic">Arabic</option>
            </select>
          </div>
          <div class="col">
            <select class="form-control form-control-xs selectpicker" name="" data-size="7" data-live-search="true"
              data-title="Template" id="tem_list" data-width="100%">
              <option value="" selected>Document Select ...</option>
              <!-- <option value="marriage">Marriage Certificate</option> -->
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xl-3 col-md-6 mb-4">
          <button type="button" id="load" name="load" class="btn btn-outline-primary"
            onclick="getData()">Loading</button>
        </div>
      </div>



      <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary" id="card_label">Document Card</h6>
          <div class="dropdown no-arrow">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink"
              x-placement="bottom-end"
              style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(17px, 18px, 0px);">
              <div class="dropdown-header">Dropdown Header:</div>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
        <!-- Card Body -->
        <div class="card-body">
          <div id="panel">

          </div>
        </div>
      </div>

    </div>

    <br>
  </div>
  <!-- End of Main Continer -->


  <!-- End of Main Content -->
  <%- include('body2'); -%>

              <script type="text/javascript">
                /* When the user clicks on the button,
                toggle between hiding and showing the dropdown content */
                function myFunction() {
                  document.getElementById("myDropdown").classList.toggle("show");
                }

                // $("#client_list").on('change', function () {
                //   var lan = $(this).val();
                //   if (lan != null && lan != "Language Select ...") {
                //     $.ajax({
                //       url: '/api/posts/clientselector',
                //       type: 'POST',
                //       dataType: "json",
                //       cache: true,
                //       data: { type: lan },
                //       success: function (fixtures) {
                //         var newOptions = fixtures['html'];
                //         var select = $('#tem_list');
                //         var selectedOption = 'Document Select ...';

                //         if (select.prop) {
                //           var options = select.prop('options');
                //         }
                //         else {
                //           var options = select.attr('options');
                //         }
                //         $('option', select).remove();

                //         $.each(newOptions, function (val, text) {
                //           options[options.length] = new Option(text, val);
                //         });
                //         //val.options.length = 0;

                //         //select.val(selectedOption);
                //       },
                //       error: function (jqXHR, textStatus, err) {
                //         alert('text status ' + textStatus + ', err ' + err)
                //       }
                //     })
                //   }
                // });

                $("#lan_list").on('change', function () {
                  var lan = $(this).val();
                  if (lan != null && lan != "Language Select ...") {
                    $.ajax({
                      url: '/api/posts/selector',
                      type: 'POST',
                      dataType: "json",
                      cache: true,
                      data: { type: lan },
                      success: function (fixtures) {
                        var newOptions = fixtures['html'];
                        var select = $('#tem_list');
                        var selectedOption = 'Document Select ...';

                        if (select.prop) {
                          var options = select.prop('options');
                        }
                        else {
                          var options = select.attr('options');
                        }
                        $('option', select).remove();

                        $.each(newOptions, function (val, text) {
                          options[options.length] = new Option(text, val);
                        });
                        //val.options.length = 0;

                        //select.val(selectedOption);
                      },
                      error: function (jqXHR, textStatus, err) {
                        alert('text status ' + textStatus + ', err ' + err)
                      }
                    })
                  }
                });

                function getData() {
                  var e = document.getElementById("lan_list");
                  var f = document.getElementById("tem_list");
                  var g = document.getElementById("client_list");
                  var strClient = g.options[g.selectedIndex].value;
                  var strTemplate = f.options[f.selectedIndex].text;
                  var strType = e.options[e.selectedIndex].text;
                  //window.alert(strClient);
                  // Grab the template
                  if (strType != "Language Select ..." && strTemplate != "Document Select ..." && g.options[g.selectedIndex].text != "Client Select ...") {
                    $.ajax({
                      url: '/api/posts/template',
                      type: 'POST',
                      dataType: "json",
                      cache: true,
                      data: { type: strType, template: strTemplate, client: strClient },
                      success: function (fixtures) {
                        var html = fixtures['html'];
                        $('#panel').html(html);
                      },
                      error: function (jqXHR, textStatus, err) {
                        alert('text status ' + textStatus + ', err ' + err)
                      }
                    })
                  }
                  else {
                    alert("Please pick a language and document, client !");
                  }
                }

                function filterFunction() {
                  var input, filter, ul, li, a, i;
                  input = document.getElementById("myInput");
                  filter = input.value.toUpperCase();
                  div = document.getElementById("myDropdown");
                  a = div.getElementsByTagName("a");
                  for (i = 0; i < a.length; i++) {
                    txtValue = a[i].textContent || a[i].innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                      a[i].style.display = "";
                    } else {
                      a[i].style.display = "none";
                    }
                  }
                }
              </script>


</body>

</html>