<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('header'); -%>
    <!-- Latest compiled and minified CSS -->

    <style></style>
  </head>

  <body id="page-top">
    <%- include('bodycreate'); -%>
    <!-- End of Topbar -->

    <!-- Begin Page Content -->
    <!-- Begin Page Content -->

    <h5
      style="
        margin: auto;
        width: 30%;
        /* border: 3px solid green; */
        padding: 5px;
      "
    >
      Document Generate <span class="badge badge-primary">Form</span>
    </h5>

    <div class="container-fluid">
      <div class="container">
        <div class="form-group">
          <div class="row">
            <div class="col">
              <select
                class="mdb-select md-form"
                searchable="Search here.."
                id="client_list"
              >
                <option value="" disabled selected>Client Select ...</option>
                <% if(locals.clientname && typeof clientname != 'undefined') {
                %> <% for (var x = 0; x < clientname.length; x++) { %>
                <option value="<%= clientname[x]['_id'] %>"
                  ><%= clientname[x]['fullname'] %></option
                >
                <% } %> <%}%>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col">
              <select
                class="mdb-select md-form"
                searchable="Search here.."
                id="lan_list"
              >
                <option value="" disabled selected>Language Select ...</option>
                <!-- <select class="form-control form-control-xs selectpicker" name="" data-size="3" data-live-search="true"
              data-title="Language" id="lan_list" data-width="100%">
              <option value="" selected>Language Select ...</option> -->
                <option value="English">English</option>
                <option value="Français">Français</option>
                <option value="Español">Español</option>
                <option value="Arabic">Arabic</option>
              </select>
            </div>
            <div class="col">
              <select
                class="mdb-select md-form"
                searchable="Search here.."
                id="tem_list"
              >
                <option value="" disabled selected>Document Select ...</option>
                <!-- <select class="form-control form-control-xs selectpicker" name="" data-size="7" data-live-search="true"
              data-title="Template" id="tem_list" data-width="100%">
              <option value="" selected>Document Select ...</option> -->
                <!-- <option value="marriage">Marriage Certificate</option> -->
              </select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-xl-3 col-md-6 mb-4">
            <button
              type="button"
              id="load"
              name="load"
              class="btn btn-outline-primary"
              onclick="getData()"
            >
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Load&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </button>
          </div>
          <!--Big blue-->
          <!--Big blue-->
          <div id="spinner" style="display: none;" class="preloader-wrapper big crazy">
            <div class="spinner-layer spinner-blue-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div>
              <div class="gap-patch">
                <div class="circle"></div>
              </div>
              <div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
          
        </div>

        <div class="card shadow mb-4">
          <!-- Card Header - Dropdown -->
          <div
            class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
          >
            <h6 class="m-0 font-weight-bold text-primary" id="card_label">
              Document Card
            </h6>
            <div class="dropdown no-arrow">
              <a
                class="dropdown-toggle"
                href="#"
                role="button"
                id="dropdownMenuLink"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
              </a>
              <div
                class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                aria-labelledby="dropdownMenuLink"
                x-placement="bottom-end"
                style="
                  position: absolute;
                  will-change: transform;
                  top: 0px;
                  left: 0px;
                  transform: translate3d(17px, 18px, 0px);
                "
              >
                <div class="dropdown-header">Dropdown Header:</div>
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>
          <!-- Card Body -->

          <div class="card-body">
            <div id="panel"></div>
          </div>
        </div>

        <div class="card shadow mb-4">
          <!-- Card Header - Dropdown -->
          <div
            class="card-header py-3 d-flex flex-row align-items-center justify-content-between"
          >
            <h6 class="m-0 font-weight-bold text-primary" id="card_label">
              Paid Form
            </h6>
          </div>
          <!-- Card Body -->
          <div class="card-body">
            <div id="paid"></div>
          </div>
        </div>
      </div>

      <br />
    </div>
    <!-- End of Main Continer -->

    <!-- End of Main Content -->
    <%- include('body2'); -%>

    <script type="text/javascript">
      /* When the user clicks on the button,
                toggle between hiding and showing the dropdown content */

      $("#lan_list").on("change", function () {
        $("#tem_list").empty();
        var lan = $(this).val();
        if (lan != null && lan != "Language Select ...") {
          $.ajax({
            url: "/api/posts/selector",
            type: "POST",
            dataType: "json",
            cache: true,
            data: { type: lan },
            success: function (fixtures) {
              var newOptions = fixtures["html"];
              var select = $("#tem_list");
              var selectedOption = "Document Select ...";

              // if (select.prop) {
              //   var options = select.prop("options");
              // } else {
              //   var options = select.attr("options");
              // }
              // $("option", select).remove();

              // $.each(newOptions, function (val, text) {
              //   options[options.length] = new Option(text, val);
              // });

              // $("#tem_list").empty();

              $.each(newOptions, function (val, text) {
                //var clientjson = JSON.parse(text) val
                // options[options.length] = new Option(text["fullname"], text["_id"])
                var id = val;
                var name = text;
                $("#tem_list").append(
                  $("<option value='" + id + "'>" + name + "</option>")
                );
              });

              //val.options.length = 0;

              //select.val(selectedOption);
            },
            error: function (jqXHR, textStatus, err) {
              alert("text status " + textStatus + ", err " + err);
            },
          });
        }
      });

      function getData() {

        var e = document.getElementById("lan_list");
        var f = document.getElementById("tem_list");
        var g = document.getElementById("client_list");
        var strClient = g.options[g.selectedIndex].value;
        var strTemplate = f.options[f.selectedIndex].text;
        var strType = e.options[e.selectedIndex].text;
        $("#paid").hide(paid);
        //window.alert(strClient);
        // Grab the template
        if (
          strType != "Language Select ..." &&
          strTemplate != "Document Select ..." &&
          g.options[g.selectedIndex].text != "Client Select ..."
        ) {

          $('#load').html('<span class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>Loading...').addClass('disabled');
          // $("#spinner").show();
          $("#spinner").toggleClass( "active");
          $("#panel").html("");
          $('#paid').html("");
          $("#card_label").html("Document Card");
          $.ajax({
            url: "/api/posts/template",
            type: "POST",
            dataType: "json",
            cache: true,
            data: { type: strType, template: strTemplate, client: strClient },
            success: function (fixtures) {
              // $("#spinner").hide();
              $('#load').html('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Load&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;').toggleClass("disabled");
              $( "#spinner" ).toggleClass( "active");
              var html = fixtures["html"];
              var paid = fixtures["paid"];
              $("#panel").html(html);
              //$('#paid').html(paid);
              $("#card_label").html(strType + " > " + strTemplate);
            },
            error: function (jqXHR, textStatus, err) {
              $('#load').html('&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Load&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;').toggleClass("disabled");
              $( "#spinner" ).toggleClass( "active");
              $("#paid").hide(paid);
              toastr["error"]("Loading Template Error", "Load error")
              //alert("text status " + textStatus + ", err " + err);
            },
          });
        } else {
          $("#paid").hide(paid);
          alert("Please pick a language and document, client !");
        }
      }

      // $('#load').click(function() {
      //   $('#load').html('<span class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>Loading...').addClass('disabled');
      // });

      // Material Select Initialization
      $(document).ready(function () {
        $(".mdb-select").materialSelect();
      });

      $(document).ready(function () {
        $(".dropdown-toggle").dropdown();
      });

      $(".mdb-select").on("contentChanged", function () {
        $(this).material_select();
      });
    </script>
  </body>
</html>
