<form method="POST" action="<%= url %>"
    id="my_form">
    <div class="form-group">
        <div class="form-row">
            <div class="form-group col">
                <!-- <label for="Input1"><%= obj.s1.f1.caption %></label> -->
                <input type="text" class="form-control" id="s1f1" name="s1_f1" placeholder="<%= obj.s1.f1.caption %>"
                    value="<%= obj.s1.f1.value %>" required>
            </div>
            <div class="form-group col">
                <!-- <label for="Input2"><%= obj.s1.f2.caption %></label> -->
                <!-- <select class="form-control" name="s1_f2" id="s1f2" required>
                    <option selected><%= obj.s1.f2.value %></option>
                    <option>male</option>
                    <option>female</option>
                </select> -->

                <input class="form-control awesomplete" list="sex" name="s1_f2" id="s1f2"
                    placeholder="<%= obj.s1.f2.caption %>" value="<%= obj.s1.f2.value %>">
                <%if (obj.type == "English") { %>
                <datalist id="sex">
                    <option>male</option>
                    <option>female</option>
                </datalist>
                <% } else if (obj.type == "Français") {%>
                <datalist id="sex">
                    <option>mâle</option>
                    <option>femelle</option>
                </datalist>
                <% } else if (obj.type == "Español") {%>
                <datalist id="sex">
                    <option>masculino</option>
                    <option>femenino</option>
                </datalist>
                <% } else {%>
                <% }%>
            </div>
            <div class="form-group col">
                <!-- <label for="Input3"><%= obj.s1.f3.caption %></label> -->
                <input type="text" class="form-control" name="s1_f4" id="s1f4" placeholder="<%= obj.s1.f4.caption %>"
                    value="<%= obj.s1.f4.value %>" required>
            </div>
        </div>
    </div>
    <hr class="sidebar-divider">
    <div class="form-group">
        <h8 class="m-0 font-weight-bold text-secondary"><%= obj.s1.f3.caption %></h8>
        <div class="form-row" name="s1_f3" id="s1f3">
            <div class="form-group col">
                <input type="text" class="form-control" name="s1_f3_s1" id="s1f3s1"
                    placeholder="<%= obj.s1.f3.s1.caption %>" value="<%= obj.s1.f3.s1.value %>">
            </div>
            <div class="form-group col">
                <input type="text" class="form-control" name="s1_f3_s2" id="s1f3s2"
                    placeholder="<%= obj.s1.f3.s2.caption %>" value="<%= obj.s1.f3.s2.value %>">
            </div>
            <div class="form-group col">
                <input type="text" class="form-control" name="s1_f3_s3" id="s1f3s3"
                    placeholder="<%= obj.s1.f3.s3.caption %>" value="<%= obj.s1.f3.s3.value %>">
            </div>
        </div>
    </div>
    <hr class="sidebar-divider">
    <div class="form-group">
        <h8 class="m-0 font-weight-bold text-secondary"><%= obj.s1.f5.caption %></h8>
        <div class="form-row" name="s1f5" id="s1f5">
            <!-- <div class="form-group col-md-4">
                <input type="text" class="form-control" name="s1_f5_s1" id="s1f5s1" style="display: none"
                    placeholder="<%= obj.s1.f5.s1.value %> value="<%= obj.s1.f5.valuee %>"
                    value="<%= obj.s1.f5.s1.value %>">
            </div> -->
            <div class="form-group col">
                <input type="text" class="form-control" name="s1_f5_s2" id="s1f5s2"
                    placeholder="<%= obj.s1.f5.s2.caption %>" value="<%= obj.s1.f5.s2.value %>">
            </div>
            <div class="form-group col">
                <input type="text" class="form-control" name="s1_f5_s3" id="s1f5s3"
                    placeholder="<%= obj.s1.f5.s3.caption %>" value="<%= obj.s1.f5.s3.value %>">
            </div>
            <!-- <div class="form-group col-md-2" style="display: none">
                <input type="text" class="form-control" name="s1_f5_s4" id="s1f5s4"
                    placeholder="<%= obj.s1.f5.s4.caption %>"  value="<%= obj.s1.f5.value %>">
            </div> -->
            <div class="form-group col">
                <input type="text" class="form-control" name="s1_f5_s5" id="s1f5s5"
                    placeholder="<%= obj.s1.f5.s5.caption %>" value="<%= obj.s1.f5.s5.value %>">
            </div>
        </div>
    </div>
    <hr class="sidebar-divider">
    <div class="form-group">
        <h8 class="m-0 font-weight-bold text-secondary"><%= obj.s2.caption %></h8>
        <div class="form-row">
            <div class="form-group col">
                <input type="text" class="form-control" name="s2_f1_s1" id="s2f1s1"
                    placeholder="<%= obj.s2.f1.s1.caption %>" value="<%= obj.s2.f1.s1.value %>">
            </div>
            <div class="form-group col">
                <input type="text" class="form-control" name="s2_f1_s2" id="s2f1s2"
                    placeholder="<%= obj.s2.f1.s2.caption %>" value="<%= obj.s2.f1.s2.value %>">
            </div>
            <div class="form-group col">
                <input type="text" class="form-control" name="s2_f2" id="s2f2" placeholder="<%= obj.s2.f2.caption %>"
                    value="<%= obj.s2.f2.value %>">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-row">
            <div class="form-group col">
                <input type="text" class="form-control" name="s2_f3" id="s2f3" placeholder="<%= obj.s2.f3.caption %>"
                    value="<%= obj.s2.f3.value %>">
            </div>
            <div class="form-group col">
                <input type="text" class="form-control" name="s2_f4" id="s2f4" placeholder="<%= obj.s2.f4.caption %>"
                    value="<%= obj.s2.f4.value %>">
            </div>

            <%if (obj.type == "Français") { %>
            <div class="form-group col">
                <input type="text" class="form-control" name="s2_f5" id="s2f5" placeholder="<%= obj.s2.f5.caption %>"
                    value="<%= obj.s2.f5.value %>">
            </div>
            <% } %>
        </div>
    </div>
    <hr class="sidebar-divider">
    <div class="form-group">
        <h8 class="m-0 font-weight-bold text-secondary"><%= obj.s3.caption %></h8>
        <div class="form-row" name="s3" id="s3">
            <div class="form-group col-md-3">
                <input type="text" class="form-control" name="s3_f1_s1" id="s3f1s1"
                    placeholder="<%= obj.s3.f1.s1.caption %>" value="<%= obj.s3.f1.s1.value %>">
            </div>
            <div class="form-group col-md-3">
                <input type="text" class="form-control" name="s3_f1_s2" id="s3f1s2"
                    placeholder="<%= obj.s3.f1.s2.caption %>" value="<%= obj.s3.f1.s2.value %>">
            </div>
            <div class="form-group col">
                <input type="text" class="form-control" name="s3_f2" id="s3f2" placeholder="<%= obj.s3.f2.caption %>"
                    value="<%= obj.s3.f2.value %>">
            </div>
            <div class="form-group col">
                <input type="text" class="form-control" name="s3_f3" id="s3f3" placeholder="<%= obj.s3.f3.caption %>"
                    value="<%= obj.s3.f3.value %>">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-row" name="s3" id="s3">
            <div class="form-group col">
                <input type="text" class="form-control" name="s3_f4" id="s3f4" placeholder="<%= obj.s3.f4.caption %>"
                    value="<%= obj.s3.f4.value %>">
            </div>
            <div class="form-group col">
                <input type="text" class="form-control" name="s3_f5" id="s3f5" placeholder="<%= obj.s3.f5.caption %>"
                    value="<%= obj.s3.f5.value %>">
            </div>
            <div class="form-group col">
                <input type="text" class="form-control" name="s3_f6" id="s3f6" placeholder="<%= obj.s3.f6.caption %>"
                    value="<%= obj.s3.f6.value %>">
            </div>
        </div>
    </div>
    <hr class="sidebar-divider">
    <div class="form-group">
        <h8 class="m-0 font-weight-bold text-secondary"><%= obj.s4.caption %></h8>
        <div class="form-row">
            <div class="form-group col">
                <input type="text" class="form-control" name="s4_f1_s1" id="s4f1s1"
                    placeholder="<%= obj.s4.f1.s1.caption %>" value="<%= obj.s4.f1.s1.value %>">
            </div>
            <div class="form-group col">
                <input type="text" class="form-control" name="s4_f1_s2" id="s4f1s2"
                    placeholder="<%= obj.s4.f1.s2.caption %>" value="<%= obj.s4.f1.s2.value %>">
            </div>
            <div class="form-group col">
                <input type="text" class="form-control" name="s4_f2" id="s4f2" placeholder="<%= obj.s4.f2.caption %>"
                    value="<%= obj.s4.f2.value %>">
            </div>
            <div class="form-group col">
                <input type="text" class="form-control" name="s4_f3" id="s4f3" placeholder="<%= obj.s4.f3.caption %>"
                    value="<%= obj.s4.f3.value %>">
            </div>
            <!-- <div class="form-group col">
                <input type="text" class="form-control" name="s4_f4" id="s4f4"
                    placeholder="<%= obj.s4.f4.caption %>" value="<%= obj.s4.f4.value %>">
            </div> -->
        </div>
    </div>
    <hr class="sidebar-divider">
    <div class="form-group">
        <h8 class="m-0 font-weight-bold text-secondary"><%= obj.s5.caption %></h8>
        <div class="form-row" name="s5" id="s5">
            <div class="form-group col">
                <input type="text" class="form-control" name="s5_f1" id="s5f1" placeholder="<%= obj.s5.f1.caption %>"
                    value="<%= obj.s5.f1.value %>">
            </div>
            <div class="form-group col">
                <input type="text" class="form-control" name="s5_f2" id="s5f2" placeholder="<%= obj.s5.f2.caption %>"
                    value="<%= obj.s5.f2.value %>">
            </div>
        </div>
    </div>
    <hr class="sidebar-divider">
    <div class="form-group">
        <h8 class="m-0 font-weight-bold text-secondary"><%= obj.s6.caption %></h8>
        <div class="form-row" name="s6" id="s6">
            <div class="form-group col">
                <input type="text" class="form-control" name="s6_f1" id="s6f1" placeholder="<%= obj.s6.f1.caption %>"
                    value="<%= obj.s6.f1.value %>">
            </div>
            <div class="form-group col">
                <input type="text" class="form-control" name="s6_f2" id="s6f2" placeholder="<%= obj.s6.f2.caption %>"
                    value="<%= obj.s6.f2.value %>">
            </div>
        </div>
    </div>
    <hr class="sidebar-divider">
    <div class="form-group">
        <h8 class="m-0 font-weight-bold text-secondary"><%= obj.s7.caption %></h8>
        <div class="form-row" name="s7" id="s7">
            <div class="form-group col">
                <input type="text" class="form-control" name="s7_f1" id="s7f1" placeholder="<%= obj.s7.f1.caption %>"
                    value="<%= obj.s7.f1.value %>">
            </div>
            <div class="form-group col">
                <input type="text" class="form-control" name="s7_f2" id="s7f2" placeholder="<%= obj.s7.f2.caption %>"
                    value="<%= obj.s7.f2.value %>">
            </div>
            <div class="form-group col">
                <input type="text" class="form-control" name="s7_f3" id="s7f3" placeholder="<%= obj.s7.f3.caption %>"
                    value="<%= obj.s7.f3.value %>">
            </div>
            <div class="form-group col">
                <input type="text" class="form-control" name="s7_f4" id="s7f4" placeholder="<%= obj.s7.f4.caption %>"
                    value="<%= obj.s7.f4.value %>">
            </div>
            <!-- <div class="form-group col">
                <input type="text" class="form-control" name="s7_f5" id="s7f5"
                    placeholder="<%= obj.s7.f5.caption %>" value="<%= obj.s7.f5.value %>">
            </div> -->
        </div>
    </div>
    <hr class="sidebar-divider">
    <div class="form-group">
        <h8 class="m-0 font-weight-bold text-secondary"><%= obj.s8.caption %></h8>
        <div class="form-row" name="s8" id="s8">
            <div class="form-group col">
                <input type="text" class="form-control" name="s8_f1" id="s8f1" placeholder="<%= obj.s8.f1.caption %>"
                    value="<%= obj.s8.f1.value %>">
            </div>
            <div class="form-group col">
                <input type="text" class="form-control" name="s8_f2" id="s8f2" placeholder="<%= obj.s8.f2.caption %>"
                    value="<%= obj.s8.f2.value %>">
            </div>
            <div class="form-group col">
                <input type="text" class="form-control" name="s8_f3" id="s8f3" placeholder="<%= obj.s8.f3.caption %>"
                    value="<%= obj.s8.f3.value %>">
            </div>
            <div class="form-group col">
                <input type="text" class="form-control" name="s8_f4" id="s8f4" placeholder="<%= obj.s8.f4.caption %>"
                    value="<%= obj.s8.f4.value %>">
            </div>
            <!-- <div class="form-group col">
                <input type="text" class="form-control" name="s8_f5" id="s8f5"
                    placeholder="<%= obj.s8.f5.caption %>" value="<%= obj.s8.f5.value %>">
            </div> -->
        </div>
    </div>
    <hr class="sidebar-divider">
    <div class="form-group">
        <h8 class="m-0 font-weight-bold text-secondary"><%= obj.s9.caption %></h8>
        <div class="form-row" name="s9" id="s9">
            <div class="form-group col-md-5">
                <input type="text" class="form-control" name="s9_f4" id="s9f4" placeholder="<%= obj.s9.f4.caption %>"
                    value="<%= obj.s9.f4.value %>">
            </div>
            <div class="form-group col">
                <input type="text" class="form-control" name="s9_f1" id="s9f1" placeholder="<%= obj.s9.f1.caption %>"
                    value="<%= obj.s9.f1.value %>">
            </div>
            <div class="form-group col">
                <input type="text" class="form-control" name="s9_f2" id="s9f2" placeholder="<%= obj.s9.f2.caption %>"
                    value="<%= obj.s9.f2.value %>">
            </div>
            <div class="form-group col">
                <input type="text" class="form-control" name="s9_f3" id="s9f3" placeholder="<%= obj.s9.f3.caption %>"
                    value="<%= obj.s9.f3.value %>">
            </div>
            <!-- <div class="form-group col">
                <input type="text" class="form-control" name="s9_f5" id="s9f5"
                    placeholder="<%= obj.s9.f5.caption %>" value="<%= obj.s9.f5.value %>">
            </div> -->
        </div>
    </div>
    <hr class="sidebar-divider">
    <div class="form-group">
        <h8 class="m-0 font-weight-bold text-secondary"><%= obj.s10.caption %></h8>
        <div class="form-row" name="s10" id="s10">
            <div class="form-group col">
                <input type="text" class="form-control" name="s10_f1" id="s10f1" placeholder="<%= obj.s10.f1.caption %>"
                    value="<%= obj.s10.f1.value %>">
            </div>
            <div class="form-group col">
                <input type="text" class="form-control" name="s10_f2" id="s10f2" placeholder="<%= obj.s10.f2.caption %>"
                    value="<%= obj.s10.f2.value %>">
            </div>
        </div>
    </div>
    <hr class="sidebar-divider">
    <div class="form-group">
        <h8 class="m-0 font-weight-bold text-secondary"><%= obj.s11.caption %></h8>
        <div class="form-row" name="s11" id="s11">
            <div class="form-group col">
                <input type="text" class="form-control" name="s11_f1" id="s11f1" placeholder="<%= obj.s11.f1.caption %>"
                    value="<%= obj.s11.f1.value %>">
            </div>
            <div class="form-group col">
                <input type="text" class="form-control" name="s11_f2" id="s11f2" placeholder="<%= obj.s11.f2.caption %>"
                    value="<%= obj.s11.f2.value %>">
            </div>
            <!-- <div class="form-group col">
                <input type="text" class="form-control" name="s11_f3" id="s11f3"
                    placeholder="<%= obj.s11.f3.caption %>" value="<%= obj.s11.f3.value %>">
            </div> -->
        </div>
    </div>
    <hr class="sidebar-divider">
    <div class="form-group">
        <h8 class="m-0 font-weight-bold text-secondary"><%= obj.s12.caption %></h8>
        <div class="form-row" name="s12" id="s12">
            <div class="form-group col">
                <input type="text" class="form-control" name="s12_f1" id="s12f1" placeholder="<%= obj.s12.f1.caption %>"
                    value="<%= obj.s12.f1.value %>">
            </div>
            <div class="form-group col">
                <input type="text" class="form-control" name="s12_f2" id="s12f2" placeholder="<%= obj.s12.f2.caption %>"
                    value="<%= obj.s12.f2.value %>">
            </div>
            <!-- <div class="form-group col">
                <input type="text" class="form-control" name="s12_f3" id="s12f3"
                    placeholder="<%= obj.s12.f3.caption %>" value="<%= obj.s12.f3.value %>">
            </div> -->
        </div>
    </div>
    <hr class="sidebar-divider">
    <div class="form-group">
        <h8 class="m-0 font-weight-bold text-secondary"><%= obj.s13.caption %></h8>
        <div class="form-row" name="s13" id="s13">
            <div class="form-group col">
                <input type="text" class="form-control" name="s13_f1" id="s13f1" placeholder="<%= obj.s13.f1.caption %>"
                    value="<%= obj.s13.f1.value %>">
            </div>
            <!-- <div class="form-group col">
                <input type="text" class="form-control" name="s13_f2" id="s13f2"
                    placeholder="<%= obj.s13.f2.caption %>" value="<%= obj.s13.f2.value %>">
            </div> -->
            <div class="form-group col">
                <input type="text" class="form-control" name="s13_f3" id="s13f3" placeholder="<%= obj.s13.f3.caption %>"
                    value="<%= obj.s13.f3.value %>">
            </div>

            <div class="form-group col">
                <input type="text" class="form-control" name="s13_f4" id="s13f4" placeholder="<%= obj.s13.f4.caption %>"
                    value="<%= obj.s13.f4.value %>">
            </div>
        </div>
    </div>


    <%if (obj.original == "0") { %>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" name="original" id="original">

        <!-- <input type="checkbox" id="original" name="original"> -->
        <% } else { %>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" name="original" id="original" checked>

            <!-- <input type="checkbox" id="original" name="original" checked> -->
            <% }%>

            <%if (obj.type == "English") { %>
            <label class="form-check-label" for="original">True Copy of the Original</label>
        </div>
        <!-- <label for="original">True Copy of the Original</label> -->
        <% } else if (obj.type == "Français") {%>
        <label class="form-check-label" for="original">Véritable copie de l'original</label>
    </div>
    <!-- <label for="original">Véritable copie de l'original</label> -->
    <% } else if (obj.type == "Español") {%>
    <label class="form-check-label" for="original">Copia verdadera del origina</label>
    </div>
    <!-- <label for="original">Copia verdadera del original</label> -->
    <% } else {%>
    <% }%>
    <br>
    <br>
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="submit" name="submit" class="btn btn-primary">Submit</button>
        <a href="" style="display: none;" name="download" id="download" class="btn btn-secondary">Download</a>
    </div>
</form>


<!-- <script src="paidscript.js"></script> -->

<script>
    toastr.options = {
        "closeButton": false,
        "debug": false,
        "newestOnTop": false,
        "progressBar": false,
        "positionClass": "md-toast-top-center",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": 300,
        "hideDuration": 1000,
        "timeOut": 2500,
        "extendedTimeOut": 1000,
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }

    $("#my_form").submit(function (event) {
        event.preventDefault(); //prevent default action 
        var post_url = $(this).attr("action"); //get form action url
        var request_method = $(this).attr("method"); //get form GET/POST method
        var form_data = $(this).serialize(); //Encode form elements for submission

        $.ajax({
            url: post_url,
            type: request_method,
            data: form_data,
            success: function (result) {
                //alert(result);
                //$("#download").html(result);
                toastr["success"]("Document successfully inserted", "Document saved")
                $("#download").show();
                $("#download").attr("href", result['link']);
                $('#paid').show();
                $('#paid').html(result['paid']);
            }
        });
    });
</script>