<form method="POST" action="<%= url %>"
  id="my_form">

  <div class="form-group">
    <div class="form-row">
        <div class="form-group col">
            <input type="text" class="form-control" name="s1_f1" id="s1f1" placeholder="<%= obj.s1.f1.caption %>"
                value="<%= obj.s1.f1.value %>">
        </div>
    </div>
  </div>

  <div class="form-group">
    <div class="form-row">
      <!-- <div class="form-group col">
        <textarea class="form-control" id="s1f0" name="s1_f0" placeholder="<%= obj.s1.f0.caption %>" rows="30"
          cols="118"> <%= obj.s1.f0.value %> </textarea>
      </div> -->
      <div class="md-form">
        <i class="fas fa-pencil-alt prefix"></i>
        <textarea id="s1f0" name="s1_f0" class="md-textarea form-control" rows="30"
        cols="118"> <%= obj.s1.f0.value %>  </textarea>
        <label for="s1f0">Write here!</label>
      </div>
    </div>
  </div>
  <!-- <div class="md-form">
    <textarea id="form7" class="md-textarea form-control" rows="3"></textarea>
    <label for="form7">Material textarea</label>
  </div> -->
  <!--Textarea with icon prefix-->


  <br>
  <br>
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="submit" name="submit" class="btn btn-primary">Submit</button>
    <a href="" style="display: none;" name="download" id="download" class="btn btn-secondary">Download</a>
  </div>
</form>


<!-- <script src="paidscript.js"></script> -->

<script>
    $(document).ready(function () {

        // Retrieve form data from local storage
        var saved_data = localStorage.getItem("form_data");
        var saved_type = localStorage.getItem("form_type");
        var saved_language = localStorage.getItem("form_language");

        var urlString = "<%= url %>";
        var idString = urlString.substring(urlString.indexOf("id=") + 3);
        console.log(idString);

        var saved_user = localStorage.getItem("form_user");

        // Check if the saved data matches the specific type, language, and user
        if (saved_data && saved_type === "<%= obj.caption %>" && saved_language === "<%= obj.type %>" && saved_user === idString) {
            //$('#my_form').deserialize(saved_data);
            var formDataArray = saved_data.split("&");
            for (var i = 0; i < formDataArray.length; i++) {
                var fieldData = formDataArray[i].split("=");
                var fieldName = decodeURIComponent(fieldData[0]);
                var fieldValue = decodeURIComponent(fieldData[1]);
                $('#my_form [name="' + fieldName + '"]').val(fieldValue);
            }
        }
    });

    // Auto-save form data
    var autoSaveTimer;

    $("#my_form input, #my_form select, #my_form textarea").on("input", function () {
        clearTimeout(autoSaveTimer);
        autoSaveTimer = setTimeout(function () {
            saveFormData();
        }, 1000);
    });

    function saveFormData() {
        var form_data = $('#my_form').serialize();

        // Save form data and parameters to local storage
        localStorage.setItem("form_data", form_data);
        localStorage.setItem("form_type", "<%= obj.caption %>");
        localStorage.setItem("form_language", "<%= obj.type %>");

        var urlString = "<%= url %>";
        var idString = urlString.substring(urlString.indexOf("id=") + 3);

        localStorage.setItem("form_user", idString);
    }

    $("#my_form").submit(function (event) {
        event.preventDefault(); //prevent default action 

        clearTimeout(autoSaveTimer);
        saveFormData();
        var post_url = $(this).attr("action"); //get form action url
        var request_method = $(this).attr("method"); //get form GET/POST method
        var form_data = $(this).serialize(); //Encode form elements for submission

        $.ajax({
            url: post_url,
            type: request_method,
            data: form_data,
            success: function (result) {
                if(result == "error")
                {
                    toastr["error"]("Document not inserted", "Document Save error")
                    return;
                }

                toastr["success"]("Document successfully inserted", "Document saved")
                $("#download").show();
                $("#download").attr("href", result['link']);
                $('#paid').show();
                $('#paid').html(result['paid']);


                // Remove saved form data and parameters from local storage if the request matches
                var saved_type = localStorage.getItem("form_type");
                var saved_language = localStorage.getItem("form_language");
                var saved_user = localStorage.getItem("form_user");
                
                var urlString = "<%= url %>";
                var idString = urlString.substring(urlString.indexOf("id=") + 3);
                console.log(idString);

                if (saved_type === "<%= obj.caption %>" && saved_language === "<%= obj.type %>" && saved_user === idString) {
                    localStorage.removeItem("form_data");
                    localStorage.removeItem("form_type");
                    localStorage.removeItem("form_language");
                    localStorage.removeItem("form_user");
                }

            },
            error: function () {
                // Handle error and attempt to resend data
                toastr["error"]("Server not responding. Resending data when connection is reestablished.");

                // Retrieve form data from local storage
                var saved_data = localStorage.getItem("form_data");
                var saved_type = localStorage.getItem("form_type");
                var saved_language = localStorage.getItem("form_language");
                var saved_user = localStorage.getItem("form_user");

                var urlString = "<%= url %>";
                var idString = urlString.substring(urlString.indexOf("id=") + 3);
                console.log(idString);

                if (saved_data && saved_type === "<%= obj.caption %>" && saved_language === "<%= obj.type %>" && saved_user === idString) {
                    $.ajax({
                        url: post_url,
                        type: request_method,
                        data: saved_data,
                        success: function (result) {
                            if (result === "error") {
                                toastr["error"]("Document not inserted", "Document Save error");
                                return;
                            }

                            toastr["success"]("Document successfully inserted", "Document saved");
                            $("#download").show();
                            $("#download").attr("href", result['link']);
                            $('#paid').show();
                            $('#paid').html(result['paid']);
 
                            // Remove saved form data and parameters from local storage
                            localStorage.removeItem("form_data");
                            localStorage.removeItem("form_type");
                            localStorage.removeItem("form_language");
                            localStorage.removeItem("form_user");
                        },
                        error: function () {
                            toastr["error"]("Failed to resend data. Please try again later.");
                        }
                    });
                } else {
                    toastr["error"]("No saved form data found.");
                }
            }
        });
    });


</script>