<form method="POST"
    action="/api/posts/paid?lang=<%= obj.type %>&doc=<%= obj.caption %>&id=<%= obj.client.id %>&docid=<%= docid %>"
    id="paid_form">
    <div class="form-group">
        <h8 class="m-0 font-weight-bold text-secondary"></h8>
        <div class="form-group col">
            <!-- <label for="paid_list">Clients paid history</label> -->
            <select class="mdb-select md-form" searchable="Search here.." id="paid_list">
                <option value="op1" disabled selected>Select from Pre Clients paid ....</option>
                <!-- <select class="form-control form-control-xs selectpicker" name="" data-live-search="true" data-title="Language"
            id="paid_list" data-width="100%"> -->
                <!-- <option value="" selected>Client Select ...</option> -->
                <%  if(locals.clientname && typeof clientname != 'undefined') { %>
                <% for (var x = 0; x < clientname.length; x++) { %>
                <option value="<%= clientname[x]['_id'] %>"><%= clientname[x]['fullname'] %></option>
                <% } %>
                <%}%>
        </select>
    </div>
</div>
<div class="form-group">
    <div class="form-row">
        <div class="form-group col">
            <input type="text" class="form-control" name="first" id="first" placeholder="First Name" value="<%= %>"
                required>
        </div>
        <div class="form-group col">
            <input type="text" class="form-control" name="middle" id="middle" placeholder="Middle Name" value="<%= %>"
                required>
        </div>
        <div class="form-group col">
            <input type="text" class="form-control" name="last" id="last" placeholder="Last Name" value="<%= %>"
                required>
        </div>
    </div>
    </div>
    <div class="form-group">
        <div class="form-row">
            <div class="form-group col">
                <input type="text" class="form-control" name="address" id="address" placeholder="Address"
                    value="<%= %>">
            </div>
            <div class="form-group col">
                <input type="number" class="form-control" name="mobile" id="mobile" placeholder="Phone" value="<%= %>"
                    required>
            </div>
            <!-- <div class="form-group col">
            <input type="text" class="form-control" name="no" id="no" placeholder="<%=  %>" value="<%= %>">
        </div> -->
        </div>
    </div>
    <div class="form-group">
        <div class="form-row">
            <!-- <div class="form-group col"> -->
                <select class="mdb-select md-form" searchable="Search Type.." name="category" id="category" value="<%= %>"
                    required>
                    <option value="" disabled selected>Type Select ...</option>
                    <option value="Pronto">Pronto</option>
                    <option value="Sworn legal">Sworn legal</option>
                    <option value="non legal">non legal</option>
                </select>
            <!-- </div> -->
            <!-- <div class="form-group col">
                <input type="text" class="form-control" name="type" id="type" placeholder="Type" value="<%= %>">
            </div> -->
            <div class="md-form col" style="padding-left: 35px;">
                <input type="number" class="form-control" name="paid" id="paid" placeholder="Paid" value="<%= %>">
            </div>
            <!-- <div class="md-form col">
                <input type="number" style="display: none;" class="form-control" name="remain" id="remain" placeholder="Remain" value="<%= %>">
            </div> -->
            <div class="md-form col">
                <input type="number" class="form-control" name="total" id="total" placeholder="Total" value="<%= %>">
            </div>
        </div>
    </div>
    <br>
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="submit" id="paidsubmit" name="submit" class="btn btn-primary">Submit</button>
        <button style="display: none;" name="clear" id="clear" class="btn btn-secondary">clear </button>
    </div>
</form>


<script>

    $("#clear").click(function () {


        //$('#paid_list').materialSelect();

        $("#paid_list").val("op1");

        $("#first").prop("disabled", false);
        $("#middle").prop("disabled", false);
        $("#last").prop("disabled", false);
        $("#address").prop("disabled", false);
        $("#mobile").prop("disabled", false);
        $('#clear').hide();
        $("#paid_form").closest('form').find("input[type=text], textarea").val("");
    });


    $("#paid_list").on('change', function () {
        $('#clear').show();
        var paid = $("#paid_list").val();
        var g = document.getElementById("paid_list");
        var strPaidClient = g.options[g.selectedIndex].value;

        // var first = $("#first").val();
        // var middle = $("#middle").val();
        // var last = $("#last").val();
        // var address = $("#address").val();
        // var phone = $("#phone").val();
        // var remain = $("#remain").val();
        // var paid = $("#paid").val();
        // var type = $("#type").val();

        //var href = $("#download").attr('href');
        //var href = ""

        $.ajax({
            url: '/api/posts/clientpaidselect',
            type: 'POST',
            dataType: "json",
            cache: true,
            data: { client: strPaidClient },
            success: function (fixtures) {
                $("#first").val(fixtures['first']);
                $("#first").prop("disabled", true);
                $("#last").val(fixtures['last']);
                $("#last").prop("disabled", true);
                $("#middle").val(fixtures['middle']);
                $("#middle").prop("disabled", true);
                $("#mobile").val(fixtures['phone']);
                $("#mobile").prop("disabled", true);
                $("#address").val(fixtures['address']);
                $("#address").prop("disabled", true);
                //toastr["success"]("Payment succefully inserted", "Payment saved")
            },
            error: function (jqXHR, textStatus, err) {
                //alert('text status ' + textStatus + ', err ' + err)
                //toastr["error"]("Payment not inserted", "Payment error")
            }
        })

    });


    //href: href ,first: first, middle: middle, last: last, address: address, phone: phone, remain: remain, paid: paid, type: type, 


    $("#paid_form").submit(function (event) {
        event.preventDefault(); //prevent default action 
        var post_url = $(this).attr("action"); //get form action url
        var request_method = $(this).attr("method"); //get form GET/POST method
        var form_data = $(this).serialize(); //Encode form elements for submission

        var name = $("#first").val();
        var father = $("#middle").val();
        var surname = $("#last").val();

        var href = $("#download").attr('href');

        var g = document.getElementById("paid_list");
        var client = ""
        client = g.options[g.selectedIndex].value;

        console.log( "&name=" + name + "&father=" + father + "&surname=" + surname);

        form_data += "&href=" + href + "&client=" + client + "&name=" + name + "&father=" + father + "&surname=" + surname;

        $.ajax({
            url: post_url,
            type: request_method,
            data: form_data,
            success: function (result) {

                if (result == "success") {
                    toastr["success"]("Payment succefully inserted", "Payment saved")
                    $("#paidsubmit").prop("disabled", true);
                    setTimeout(function () {// wait for 5 secs(2)
                        location.reload(); // then reload the page.(3)
                    }, 1500);
                }
                else {
                    toastr["error"]("Payment not inserted", "Payment error")
                }
                // toastr["success"]("Document successfully inserted", "Document saved")
                // $("#download").show();
                // $("#download").attr("href", result['link']);
                // $('#paid').html(result['paid']);
            }
        });
    });


    

    $(document).ready(function () {
        $('#paid_list').materialSelect();
        $('#category').materialSelect();
    });
</script>