<form method="POST" action="<%= url %>"
    id="my_form">
    <div class="form-group">
        <h8 class="m-0 font-weight-bold text-secondary"><%= obj.s2.caption %></h8>
        <div class="form-row">
            <div class="form-group col">
                <input type="text" class="form-control" id="s2f1" name="s2_f1" placeholder="<%= obj.s2.f1.caption %>"
                    value="<%= obj.s2.f1.value %>">
            </div>
            <div class="form-group col">
                <input type="text" class="form-control" id="s2f2" name="s2_f2" placeholder="<%= obj.s2.f2.caption %>"
                    value="<%= obj.s2.f2.value %>">
            </div>
        </div>
    </div>
    <hr class="sidebar-divider">
    <div class="form-group">
        <div class="form-row">
            <div class="form-group col">
                <input type="text" class="form-control" name="s2_f3" id="s2f3" placeholder="<%= obj.s2.f3.caption %>"
                    value="<%= obj.s2.f3.value %>">
            </div>
        </div>
    </div>
    <hr class="sidebar-divider">

    <% for (var i = 0; i < obj.s3.jobs.length; i++) { %>
        <%if (obj.type == "English") { %>
        <div class="form-group">
            <div class="form-row">
                <div class="form-group col">
                    <input type="text" class="form-control" name="s3_jobs_jn_<%= i %>" id="s3jobsjn<%= i %>"
                        placeholder="Job number" value="<%= obj.s3.jobs[i].jn %>">
                </div>
                <div class="form-group col">
                    <input type="text" class="form-control" name="s3_jobs_pro_<%= i %>" id="s3jobspro<%= i %>"
                        placeholder="Project" value="<%= obj.s3.jobs[i].pro %>">
                </div>
                <div class="form-group col">
                    <input type="text" class="form-control" name="s3_jobs_stype_<%= i %>"
                        id="s2jobsstype<%= i %>" placeholder="Service type" value="<%= obj.s3.jobs[i].stype %>">
                </div>
                <div class="form-group col">
                    <input type="text" class="form-control" name="s3_jobs_slan_<%= i %>" id="s2jobsslan<%= i %>"
                        placeholder="Source Language" value="<%= obj.s3.jobs[i].slan %>">
                </div>
                <div class="form-group col">
                    <input type="text" class="form-control" name="s3_jobs_tlan_<%= i %>" id="s2jobstlan<%= i %>"
                        placeholder="Target language" value="<%= obj.s3.jobs[i].tlan %>">
                </div>
                <div class="form-group col">
                    <input type="text" class="form-control" name="s3_jobs_unit_<%= i %>" id="s2jobsunit<%= i %>"
                        placeholder="Unit" value="<%= obj.s3.jobs[i].unit %>">
                </div>
                <div class="form-group col">
                    <input type="text" class="form-control" name="s3_jobs_unitp_<%= i %>" id="s2jobsunitp<%= i %>"
                        placeholder="Unit price" value="<%= obj.s3.jobs[i].unitp %>">
                </div>
                <div class="form-group col">
                    <input type="text" class="form-control" name="s3_jobs_nunit_<%= i %>" id="s2jobsnunit<%= i %>"
                        placeholder="Number Unit" value="<%= obj.s3.jobs[i].nunit %>">
                </div>
                <div class="form-group col">
                    <input type="text" class="form-control" name="s3_jobs_t_<%= i %>" id="s3jobst<%= i %>"
                        placeholder="total" value="<%= obj.s3.jobs[i].t %>">
                </div>
            </div>
        </div>
        <% } else {%>
            <div class="form-group">
                <div class="form-row">
                    <div class="form-group col">
                        <input type="text" class="form-control" name="s3_jobs_jn_<%= i %>" id="s3jobsjn<%= i %>"
                            placeholder="Job number">
                    </div>
                    <div class="form-group col">
                        <input type="text" class="form-control" name="s3_jobs_pro_<%= i %>" id="s3jobspro<%= i %>"
                            placeholder="Project">
                    </div>
                    <div class="form-group col">
                        <input type="text" class="form-control" name="s3_jobs_stype_<%= i %>"
                            id="s2jobsstype<%= i %>" placeholder="Service type">
                    </div>
                    <div class="form-group col">
                        <input type="text" class="form-control" name="s3_jobs_slan_<%= i %>" id="s2jobsslan<%= i %>"
                            placeholder="Source Language">
                    </div>
                    <div class="form-group col">
                        <input type="text" class="form-control" name="s3_jobs_tlan_<%= i %>" id="s2jobstlan<%= i %>"
                            placeholder="Target language">
                    </div>
                    <div class="form-group col">
                        <input type="text" class="form-control" name="s3_jobs_unit_<%= i %>" id="s2jobsunit<%= i %>"
                            placeholder="Unit">
                    </div>
                    <div class="form-group col">
                        <input type="text" class="form-control" name="s3_jobs_unitp_<%= i %>" id="s2jobsunitp<%= i %>"
                            placeholder="Unit price">
                    </div>
                    <div class="form-group col">
                        <input type="text" class="form-control" name="s3_jobs_nunit_<%= i %>" id="s2jobsnunit<%= i %>"
                            placeholder="Number Unit">
                    </div>
                    <div class="form-group col">
                        <input type="text" class="form-control" name="s3_jobs_t_<%= i %>" id="s3jobst<%= i %>"
                            placeholder="total">
                    </div>
                </div>
            </div>
        <% } %>
    <% } %>
    <br>
    <br>
    <div class="btn-group" role="group" aria-label="Basic example">
        <button type="submit" name="submit" class="btn btn-primary">Submit</button>
        <a href="" style="display: none;" name="download" id="download" class="btn btn-secondary">Download</a>
    </div>
</form>


<!-- <script src="paidscript.js"></script> -->

<script>
    $("#my_form").submit(function (event) {
        event.preventDefault(); //prevent default action 
        var post_url = $(this).attr("action"); //get form action url
        var request_method = $(this).attr("method"); //get form GET/POST method
        var form_data = $(this).serialize(); //Encode form elements for submission

        $.ajax({
            url: post_url,
            type: request_method,
            data: form_data,
            success: function (result) {
                if(result == "error")
                {
                    toastr["error"]("Document not inserted", "Document Save error")
                    return;
                }
                //alert(result);
                toastr["success"]("Document successfully inserted", "Document saved")
                $("#download").show();
                $("#download").attr("href", result['link']);
            }
        });
    });
</script>