<form method="POST" action="<%= url %>"
    id="my_form">
    <div class="form-group">
        <div class="form-row">
            <div class="form-group col">
                <input type="text" class="form-control" id="s1f0" name="s1_f0" placeholder="<%= obj.s1.f0.caption %>"
                    value="<%= obj.s1.f0.value %>">
            </div>
            <div class="form-group col">
                <input type="text" class="form-control" id="s1f1" name="s1_f1" placeholder="<%= obj.s1.f1.caption %>"
                    value="<%= obj.s1.f1.value %>">
            </div>
            <div class="form-group col">
                <input type="text" class="form-control" id="s1f2" name="s1_f2" placeholder="<%= obj.s1.f2.caption %>"
                    value="<%= obj.s1.f2.value %>">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-row">
            <div class="form-group col">
                <input type="text" class="form-control" name="s1_f3" id="s1f3" placeholder="<%= obj.s1.f3.caption %>"
                    value="<%= obj.s1.f3.value %>">
            </div>
            <div class="form-group col">
                <input type="text" class="form-control" name="s1_f4" id="s1f4" placeholder="<%= obj.s1.f4.caption %>"
                    value="<%= obj.s1.f4.value %>">
            </div>
        </div>
    </div>
    <hr class="sidebar-divider">
    <div class="form-group">
        <div class="form-row">
            <div class="form-group col">
                <!-- <label for="Input2"><%= obj.s1.f2.caption %></label> -->
                <input class="form-control awesomplete" list="sex" name="s1_f5" id="s1f5"
                    placeholder="<%= obj.s1.f5.caption %>" value="<%= obj.s1.f5.value %>">
                <%if (obj.type == "English") { %>
                <datalist id="sex">
                    <option>male</option>
                    <option>female</option>
                </datalist>
                <% } else if (obj.type == "Français") {%>
                <datalist id="sex">
                    <option>mâle</option>
                    <option>femelle</option>
                </datalist>
                <% } else if (obj.type == "Español") {%>
                <datalist id="sex">
                    <option>masculino</option>
                    <option>femenino</option>
                </datalist>
                <% } else {%>
                <% }%>
            </div>
            <div class="form-group col">
                <input type="text" class="form-control" name="s1_f6" id="s1f6" placeholder="<%= obj.s1.f6.caption %>"
                    value="<%= obj.s1.f6.value %>">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-row">
            <div class="form-group col">
                <input type="text" class="form-control" name="s1_f7" id="s1f7" placeholder="<%= obj.s1.f7.caption %>"
                    value="<%= obj.s1.f7.value %>">
            </div>
            <div class="form-group col">
                <input type="text" class="form-control" name="s1_f8" id="s1f8" placeholder="<%= obj.s1.f8.caption %>"
                    value="<%= obj.s1.f8.value %>">
            </div>
            <div class="form-group col">
                <input type="text" class="form-control" name="s1_f9" id="s1f9" placeholder="<%= obj.s1.f9.caption %>"
                    value="<%= obj.s1.f9.value %>">
            </div>
        </div>
    </div>
    <hr class="sidebar-divider">
    <div class="form-group">
        <div class="form-row">
            <div class="form-group col">
                <input type="text" class="form-control" name="s1_f10" id="s1f10" placeholder="<%= obj.s1.f10.caption %>"
                    value="<%= obj.s1.f10.value %>">
            </div>
            <div class="form-group col">
                <input type="text" class="form-control" name="s1_f11" id="s1f11" placeholder="<%= obj.s1.f11.caption %>"
                    value="<%= obj.s1.f11.value %>">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="form-row">
            <div class="form-group col">
                <input type="text" class="form-control" name="s1_f12" id="s1f12" placeholder="<%= obj.s1.f12.caption %>"
                    value="<%= obj.s1.f12.value %>">
            </div>
            <div class="form-group col">
                <input type="text" class="form-control" name="s1_f13" id="s1f13" placeholder="<%= obj.s1.f13.caption %>"
                    value="<%= obj.s1.f13.value %>">
            </div>
            <div class="form-group col">
                <input type="text" class="form-control" name="s1_f14" id="s1f14" placeholder="<%= obj.s1.f14.caption %>"
                    value="<%= obj.s1.f14.value %>">
            </div>
            <div class="form-group col">
                <input type="text" class="form-control" name="s1_f15" id="s1f15" placeholder="<%= obj.s1.f15.caption %>"
                    value="<%= obj.s1.f15.value %>">
            </div>
        </div>
        <div class="form-group">
            <div class="form-row">
                <div class="form-group col">
                    <input type="text" class="form-control" name="s1_f16" id="s1f16"
                        placeholder="<%= obj.s1.f16.caption %>" value="<%= obj.s1.f16.value %>">
                </div>
            </div>
        </div>
    <%if (obj.original == "0") { %>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" name="original" id="original">

    <!-- <input type="checkbox" id="original" name="original"> -->
    <% } else { %>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" name="original" id="original" checked>

        <!-- <input type="checkbox" id="original" name="original" checked> -->
        <% }%>

        <%if (obj.type == "English") { %>
        <label class="form-check-label" for="original">True Copy of the Original</label>
    </div>
    <!-- <label for="original">True Copy of the Original</label> -->
    <% } else if (obj.type == "Français") {%>
    <label class="form-check-label" for="original">Véritable copie de l'original</label>
    </div>
    <!-- <label for="original">Véritable copie de l'original</label> -->
    <% } else if (obj.type == "Español") {%>
    <label class="form-check-label" for="original">Copia verdadera del origina</label>
    </div>
    <!-- <label for="original">Copia verdadera del original</label> -->
    <% } else {%>
    <% }%>
        <br>
        <br>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="submit" name="submit" class="btn btn-primary">Submit</button>
            <a href="" style="display: none;" name="download" id="download" class="btn btn-secondary">Download</a>
        </div>
</form>


<!-- <script src="paidscript.js"></script> -->

<script>
    $("#my_form").submit(function (event) {
        event.preventDefault(); //prevent default action 
        var post_url = $(this).attr("action"); //get form action url
        var request_method = $(this).attr("method"); //get form GET/POST method
        var form_data = $(this).serialize(); //Encode form elements for submission

        $.ajax({
            url: post_url,
            type: request_method,
            data: form_data,
            success: function (result) {
                //alert(result);
                //$("#download").html(result);
                $("#download").show();
                $("#download").attr("href", result['link']);
                $('#paid').show();
                $('#paid').html(result['paid']);
            }
        });
    });
</script>